<!DOCTYPE html>
<html>
<head>
  <title>Edit Harvest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h1>Edit Your Harvest</h1>
      </div>
      <div class="col-md-2">
      <a href="{{url_for('logout')}}"><button class="btn btn-default">Logout</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">

      </div>
      <form action="{{url_for('edit', oid=oid)}}" class="col-md-10" method="POST">
        <div class="form-group">
          <label for="title">Crop Name:</label>
          <input type="text" class="form-control" id="crop_name" name="crop_name" value="{{ rows[0][2]}}">
        </div>
        <div class="form-group">
          <label for="title">Date of Harvest:</label>
          <input type="date" class="form-control" id="harvest_date" name="harvest_date" value="{{ rows[0][3]}}">
        </div>
        <div class="form-group">
          <label for="title">Price:</label>
          <input type="text" class="form-control" id="harvest_price" name="harvest_price" value="{{ rows[0][4]}}">
        </div>
        <div class="form-group">
          <label for="author">Quantity:</label>
          <input type="text" class="form-control" id="harvest_quantity" name="harvest_quantity" value="{{ rows[0][5]}}">
        </div>
        <div class="form-group">
          <label for="author">City:</label>
          <input type="text" class="form-control" id="harvest_city" name="harvest_city" value="{{ rows[0][6]}}">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <div class="col-md-1">

      </div>
    </div>
  </body>
  </html>
