<!DOCTYPE html>
<html>
	<head>
		<title>Our Book App</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10">
					<h1>Producers that you have rated</h1>
				</div>
				<div class="col-md-2">
				<a href="{{url_for('logout')}}"><button class="btn btn-default">Logout</button></a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tr>
							<th>Producer ID</th>
							<th>Your Rating</th>
							<th>Total Rating</th>
						</tr>

						{% for row in rows %}
							<tr>
								<td>{{ row[0] }}</td>
								<td>{{ row[1] }}</td>
								<td>{{ row[2] }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>


		</div>
	</body>
</html>
